<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.topdon.module.thermal">

    <application>
        <activity
            android:name=".activity.ThermalActivity"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.MonitorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.ConnectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.GalleryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.VideoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.temp.ChartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.MonitorChartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.LogMPChartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
    </application>

</manifest>